<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Buttons</title>
  <meta name="description" content="Buttons">

  <link rel="stylesheet" href="/vets-design-system-documentation/vendor/css/app.css">
  <link rel="stylesheet" href="/vets-design-system-documentation/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vets-design-system-documentation/assets/stylesheets/application.css">

  <link rel="canonical" href="https://www.vets.gov/vets-design-system-documentation/design-system/components/buttons.html">
  <link rel="alternate" type="application/rss+xml" title="Formation" href="https://www.vets.gov/vets-design-system-documentation/feed.xml">


  <script src="/vets-design-system-documentation/vendor/javascripts/uswds.min.js"></script>

</head>


  <body>

    <a class="usa-skipnav" href="#main-content">Skip to main content</a>


<section class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="" style="padding-left:24px;">
      <img src="/vets-design-system-documentation/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here's how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-https.svg" alt="Https">
        <div class="usa-media_block-body">
          <p>
            <strong>The site is secure.</strong>
            <br>
            The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<header class="site-c-header">

  <div class="site-l-wrapper">

    <a class="site-c-header__title" href="/vets-design-system-documentation/">Formation</a>

  </div>

</header>


    <div class="site-c-content">
      <div class="site-c-content__nav">
        
          
<ul class="site-c-sidenav-list">
  <li class="site-c-sidenav-list__item">
    <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/">Introduction</a>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Design</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/color-palette.html">Color Palette</a>
      </li>
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/icons.html">Icons</a>
      </li>
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/typography.html">Typography</a>
      </li>
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Layout</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/layout/grid.html">Grid</a>
      </li>
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Components</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/additional-info.html">Additional Info</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/address-block.html">Address Block</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/alertboxes.html">Alert Boxes</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/breadcrumbs.html">Breadcrumbs</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link  current " href="/vets-design-system-documentation/design-system/components/buttons.html">Buttons</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/collapsible-panel.html">Collapsible Panel</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/global-navigation.html">Global Navigation</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/horizontal-rules.html">Horizontal Rules</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/lists.html">Lists</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/loading-indicators.html">Loading Indicators</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/modal.html">Modal</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/pagination.html">Pagination</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/progress-bars.html">Progress Bars</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/sidenav.html">Sidenav</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/tables.html">Tables</a>
        </li>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>

  <li class="site-c-sidenav-list__item">
    <h3 class="site-c-sidenav-list__heading">Patterns</h3>
    <ul class="site-c-sidenav-sub-list" id="sublist_patterns">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
        <li class="site-c-sidenav-sub-list__item">
            <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/patterns/address-form.html">Address Form</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
            <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/patterns/name-form.html">Name Form</a>
        </li>
      
      
    </ul>
  </li>

  <li class="site-c-sidenav-list__item">
    <h3 class="site-c-sidenav-list__heading">Utilities</h3>
    <ul class="site-c-sidenav-sub-list" id="sublist_utilities">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/releases.html">Release notes</a>
  </li>
</ul>
        
      </div>
      <div class="site-c-content__content">
        <main id="site-content" class="site-l-content-wrapper--styleguide">
          <h1 id="buttons">Buttons</h1>

<p class="va-introtext">Use buttons to signal actions.</p>

<div class="site-c-showcase">
<!-- Primary -->
<button class="usa-button">Primary buttons</button>
<button class="usa-button usa-button-active">Active</button>
<button class="usa-button usa-button-hover">Hover</button>
<a class="usa-button-primary va-button-primary" href="#">Apply for Health Care Benefits</a>

<!-- Primary Alt -->
<button class="usa-button-primary-alt">Primary alt buttons</button>
<button class="usa-button-primary-alt usa-button-active">Active</button>
<button class="usa-button-primary-alt usa-button-hover">Hover</button>

<!-- Secondary -->
<button class="usa-button-secondary">Secondary buttons</button>
<button class="usa-button-secondary usa-button-active">Active</button>
<button class="usa-button-secondary usa-button-hover">Hover</button>

<!-- Outline -->
<button class="usa-button-outline">Outline buttons</button>
<button class="usa-button-outline usa-button-active">Active</button>
<button class="usa-button-outline usa-button-hover">Hover</button>

<!-- Focus -->
<button class="usa-button-focus">Button focus</button>
<button class="usa-button-focus usa-button-active">Active</button>
<button class="usa-button-focus usa-button-hover">Hover</button>

<!-- Disabled -->
<button class="usa-button-disabled">Disabled button</button>

<!-- Big -->
<button class="usa-button-big">Big button</button>
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- Primary --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button"</span><span class="nt">&gt;</span>Primary buttons<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button usa-button-active"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button usa-button-hover"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"usa-button-primary va-button-primary"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Apply for Health Care Benefits<span class="nt">&lt;/a&gt;</span>

<span class="c">&lt;!-- Primary Alt --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-primary-alt"</span><span class="nt">&gt;</span>Primary alt buttons<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-primary-alt usa-button-active"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-primary-alt usa-button-hover"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- Secondary --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-secondary"</span><span class="nt">&gt;</span>Secondary buttons<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-secondary usa-button-active"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-secondary usa-button-hover"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- Outline --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-outline"</span><span class="nt">&gt;</span>Outline buttons<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-outline usa-button-active"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-outline usa-button-hover"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- Focus --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-focus"</span><span class="nt">&gt;</span>Button focus<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-focus usa-button-active"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-focus usa-button-hover"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- Disabled --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-disabled"</span><span class="nt">&gt;</span>Disabled button<span class="nt">&lt;/button&gt;</span>

<span class="c">&lt;!-- Big --&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-big"</span><span class="nt">&gt;</span>Big button<span class="nt">&lt;/button&gt;</span>
</code></pre></div></div>

<h2 id="accessibility">Accessibility</h2>

<ul>
  <li>Buttons should display a visible focus state when users tab to them.</li>
  <li>Avoid using <code class="highlighter-rouge">&lt;div&gt;</code> or <code class="highlighter-rouge">&lt;img&gt;</code> tags to create buttons. Screen readers don’t automatically know either is a usable button.</li>
  <li>When styling links to look like buttons, remember that screen readers handle links slightly differently than they do buttons. Pressing the Space key triggers a button, but pressing the Enter key triggers a link.</li>
</ul>

<h2 id="usability">Usability</h2>

<h3 id="when-to-use">When to use</h3>
<ul>
  <li>Use buttons for the most important actions you want users to take on your site, such as “download,” “sign up,” or “log out.”</li>
</ul>

<h3 id="when-to-consider-something-else">When to consider something else</h3>
<ul>
  <li>If you want to lead users between pages of a website. Use links instead.</li>
  <li>Less popular or less important actions may be visually styled as links.</li>
</ul>

<h3 id="guidance">Guidance</h3>
<ul>
  <li>Generally, use primary buttons for actions that go to the next step and use secondary buttons for actions that happen on the current page.</li>
  <li>Style the button most users should click in a way that distinguishes from other buttons on the page. Try using the “large button” or the most visually distinct fill color.</li>
  <li>Make sure buttons should look clickable—use color variations to distinguish static, hover and active states.</li>
  <li>Avoid using too many buttons on a page.</li>
  <li>Use sentence case for button labels.</li>
  <li>Button labels should be as short as possible with “trigger words” that your users will recognize to clearly explain what will happen when the button is clicked (for example, “download,” “view” or “sign up”).</li>
  <li>Make the first word of the button’s label a verb. For example, instead of “Complaint Filing” label the button “File a complaint.”</li>
  <li>At times, consider adding an icon to signal specific actions (“download”, “open in a new window”, etc).</li>
</ul>

        </main>
      </div>
    </div>

    <footer class="site-c-footer">

  <div class="site-l-wrapper">

    

  </div>

</footer>

    <script type="text/javascript" src="/vets-design-system-documentation/vendor/javascripts/bundle.js" charset="utf-8"></script>
  </body>

</html>
