<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Collapsible Panel</title>
  <meta name="description" content="Collapsible Panel">

  <link rel="stylesheet" href="/vets-design-system-documentation/vendor/css/app.css">
  <link rel="stylesheet" href="/vets-design-system-documentation/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vets-design-system-documentation/assets/stylesheets/application.css">

  <link rel="canonical" href="https://www.vets.gov/vets-design-system-documentation/design-system/components/collapsible-panel.html">
  <link rel="alternate" type="application/rss+xml" title="Formation" href="https://www.vets.gov/vets-design-system-documentation/feed.xml">


  <script src="/vets-design-system-documentation/vendor/javascripts/uswds.min.js"></script>

</head>


  <body>

    <a class="usa-skipnav" href="#main-content">Skip to main content</a>


<section class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="" style="padding-left:24px;">
      <img src="/vets-design-system-documentation/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here's how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-https.svg" alt="Https">
        <div class="usa-media_block-body">
          <p>
            <strong>The site is secure.</strong>
            <br>
            The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<header class="site-c-header">

  <div class="site-l-wrapper">

    <a class="site-c-header__title" href="/vets-design-system-documentation/">Formation</a>

  </div>

</header>


    <div class="site-c-content">
      <div class="site-c-content__nav">
        
          
<ul class="site-c-sidenav-list">
  <li class="site-c-sidenav-list__item">
    <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/">Introduction</a>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Design</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/color-palette.html">Color Palette</a>
      </li>
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/icons.html">Icons</a>
      </li>
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/typography.html">Typography</a>
      </li>
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Layout</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/layout/grid.html">Grid</a>
      </li>
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Components</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/additional-info.html">Additional Info</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/address-block.html">Address Block</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/alertboxes.html">Alert Boxes</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/breadcrumbs.html">Breadcrumbs</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/buttons.html">Buttons</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link  current " href="/vets-design-system-documentation/design-system/components/collapsible-panel.html">Collapsible Panel</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/global-navigation.html">Global Navigation</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/horizontal-rules.html">Horizontal Rules</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/lists.html">Lists</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/loading-indicators.html">Loading Indicators</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/modal.html">Modal</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/pagination.html">Pagination</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/progress-bars.html">Progress Bars</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/sidenav.html">Sidenav</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/tables.html">Tables</a>
        </li>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>

  <li class="site-c-sidenav-list__item">
    <h3 class="site-c-sidenav-list__heading">Patterns</h3>
    <ul class="site-c-sidenav-sub-list" id="sublist_patterns">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
        <li class="site-c-sidenav-sub-list__item">
            <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/patterns/address-form.html">Address Form</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
            <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/patterns/name-form.html">Name Form</a>
        </li>
      
      
    </ul>
  </li>

  <li class="site-c-sidenav-list__item">
    <h3 class="site-c-sidenav-list__heading">Utilities</h3>
    <ul class="site-c-sidenav-sub-list" id="sublist_utilities">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/releases.html">Release notes</a>
  </li>
</ul>
        
      </div>
      <div class="site-c-content__content">
        <main id="site-content" class="site-l-content-wrapper--styleguide">
          <h1 id="collapsible-panel">Collapsible Panel</h1>

<p>AdditionalInfo components are interactive components that reveal and hide content from the page.</p>

<div class="site-c-showcase">
<div id="CollapsiblePanelDemo"></div>
</div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>import React from 'react';
import CollapsiblePanel from './CollapsiblePanel.jsx';

export default function CollapsiblePanelExample(props) {
  return (
    <span class="nt">&lt;div&gt;</span>
      <span class="nt">&lt;CollapsiblePanel</span>
        <span class="na">panelName=</span><span class="s">{props.panelName}</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>This panel defaults to closed.<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/CollapsiblePanel&gt;</span>

      <span class="nt">&lt;CollapsiblePanel</span>
        <span class="na">panelName=</span><span class="s">{props.panelName}</span> <span class="na">startOpen</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div&gt;</span>This panel defaults to open.<span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/CollapsiblePanel&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  );
}

</code></pre></div></div>

        </main>
      </div>
    </div>

    <footer class="site-c-footer">

  <div class="site-l-wrapper">

    

  </div>

</footer>

    <script type="text/javascript" src="/vets-design-system-documentation/vendor/javascripts/bundle.js" charset="utf-8"></script>
  </body>

</html>
