<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Global Navigation</title>
  <meta name="description" content="Global Navigation">

  <link rel="stylesheet" href="/vets-design-system-documentation/vendor/css/app.css">
  <link rel="stylesheet" href="/vets-design-system-documentation/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vets-design-system-documentation/assets/stylesheets/application.css">

  <link rel="canonical" href="https://www.vets.gov/vets-design-system-documentation/design-system/components/global-navigation.html">
  <link rel="alternate" type="application/rss+xml" title="Formation" href="https://www.vets.gov/vets-design-system-documentation/feed.xml">


  <script src="/vets-design-system-documentation/vendor/javascripts/uswds.min.js"></script>

</head>


  <body>

    <a class="usa-skipnav" href="#main-content">Skip to main content</a>


<section class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="" style="padding-left:24px;">
      <img src="/vets-design-system-documentation/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here's how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-https.svg" alt="Https">
        <div class="usa-media_block-body">
          <p>
            <strong>The site is secure.</strong>
            <br>
            The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<header class="site-c-header">

  <div class="site-l-wrapper">

    <a class="site-c-header__title" href="/vets-design-system-documentation/">Formation</a>

  </div>

</header>


    <div class="site-c-content">
      <div class="site-c-content__nav">
        
          
<ul class="site-c-sidenav-list">
  <li class="site-c-sidenav-list__item">
    <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/">Introduction</a>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Design</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/color-palette.html">Color Palette</a>
      </li>
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/icons.html">Icons</a>
      </li>
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/design/typography.html">Typography</a>
      </li>
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Layout</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/layout/grid.html">Grid</a>
      </li>
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <h2 class="site-c-sidenav-list__heading">Components</h2>
    <ul class="site-c-sidenav-sub-list">
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/additional-info.html">Additional Info</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/address-block.html">Address Block</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/alertboxes.html">Alert Boxes</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/breadcrumbs.html">Breadcrumbs</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/buttons.html">Buttons</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/collapsible-panel.html">Collapsible Panel</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link  current " href="/vets-design-system-documentation/design-system/components/global-navigation.html">Global Navigation</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/horizontal-rules.html">Horizontal Rules</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/lists.html">Lists</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/loading-indicators.html">Loading Indicators</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/modal.html">Modal</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/pagination.html">Pagination</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/progress-bars.html">Progress Bars</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/sidenav.html">Sidenav</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
          <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/components/tables.html">Tables</a>
        </li>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>

  <li class="site-c-sidenav-list__item">
    <h3 class="site-c-sidenav-list__heading">Patterns</h3>
    <ul class="site-c-sidenav-sub-list" id="sublist_patterns">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
        <li class="site-c-sidenav-sub-list__item">
            <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/patterns/address-form.html">Address Form</a>
        </li>
      
      
      
        <li class="site-c-sidenav-sub-list__item">
            <a class="site-c-sidenav-sub-list__link " href="/vets-design-system-documentation/design-system/patterns/name-form.html">Name Form</a>
        </li>
      
      
    </ul>
  </li>

  <li class="site-c-sidenav-list__item">
    <h3 class="site-c-sidenav-list__heading">Utilities</h3>
    <ul class="site-c-sidenav-sub-list" id="sublist_utilities">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </ul>
  </li>
  <li class="site-c-sidenav-list__item">
    <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/releases.html">Release notes</a>
  </li>
</ul>
        
      </div>
      <div class="site-c-content__content">
        <main id="site-content" class="site-l-content-wrapper--styleguide">
          <h1 id="global-navigation">Global Navigation</h1>

<div class="site-c-showcase">
<div class="login-container">
    <div class="row va-flex">
        <nav id="vetnav" role="navigation">
            <!-- used to have `hidden`-->
            <ul id="vetnav-menu" role="menubar">
                <li>
                  <a href="/" class="vetnav-level1" role="menuitem">Home</a>
                </li>
                <li role="none">
                  <button aria-controls="vetnav-explore" role="button" aria-haspopup="true" class="vetnav-level1 vetnav-trigger" onclick="window.dataLayer.push({ event: 'nav-header-top-level' });">
                    Explore benefits
                  </button>
                  <div id="vetnav-explore" class="vetnav-panel" role="none" hidden="">
                    <ul role="menu" aria-label="Explore benefits">
                      <li>
                        <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-disability" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">Disability</button>
                        <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-disability" role="menu" aria-label="Disability" hidden="">
                          <li>
                            <button class="vetnav-back vetnav-trigger" aria-controls="vetnav-disability">
                              Back to menu
                            </button>
                            <div class="vetnav-level2-heading">Disability</div>
                          </li>
                          <li>
                            <a href="/disability-benefits/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Disability benefits overview</a>
                          </li>
                          <li>
                            <a href="/disability-benefits/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Eligibility</a>
                          </li>
                          <li>
                            <a href="/disability-benefits/apply/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Application process</a>
                          </li>
                          <li>
                            <a href="/disability-benefits/conditions/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Conditions</a>
                          </li>
                          <li>
                            <a class="login-required" href="/track-claims/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Check claim and appeal status</a>
                          </li>
                          <li>
                            <a href="/disability-benefits/claims-appeal/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Appeals process</a>
                          </li>
                          <li>
                            <a class="usa-button va-button-primary va-external--light" href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=disability-compensation" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Go to eBenefits to apply assets/img/icons/exit-icon-white.svg</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-healthcare" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                          Health care
                        </button>
                        <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-healthcare" role="menu" aria-label="Health care" hidden="">
                          <li>
                              <button class="vetnav-back" aria-controls="vetnav-healthcare">Back to menu</button>
                              <div class="vetnav-level2-heading">Health care</div>
                          </li>
                          <li>
                            <a href="/health-care/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Health care benefits overview</a>
                          </li>
                          <li>
                            <a href="/health-care/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Eligibility</a>
                          </li>
                          <li>
                            <a href="/health-care/apply/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Application process</a>
                          </li>
                          <li>
                            <a href="/health-care/health-conditions/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Health needs and conditions</a>
                          </li>
                          <li>
                            <a class="login-required" href="/health-care/prescriptions/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Refill prescriptions</a>
                          </li>
                          <li>
                            <a class="login-required" href="/health-care/messaging/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Message your health care team</a>
                          </li>
                          <li>
                            <a href="/health-care/health-records/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Get your VA health records</a>
                          </li>
                          <li>
                            <a href="/health-care/apply/application/" class="usa-button va-button-primary" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Apply now</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-edu" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">Education &amp; training</button>
                        <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-edu" role="menu" aria-label="Education and training" hidden="">
                          <li>
                              <button class="vetnav-back vetnav-trigger" aria-controls="vetnav-edu">Back to menu</button>
                              <div class="vetnav-level2-heading">Education &amp; training</div>
                          </li>
                          <li>
                            <a href="/education/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Education benefits overview</a>
                          </li>
                          <li>
                            <a href="/education/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Eligibility</a>
                          </li>
                          <li>
                            <a href="/education/apply/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Application process</a>
                          </li>
                          <li>
                            <a href="/education/gi-bill/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">GI Bill programs</a>
                          </li>
                          <li>
                            <a href="/gi-bill-comparison-tool/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Compare GI Bill benefits</a>
                          </li>
                          <li>
                            <a href="/education/apply/" class="usa-button va-button-primary" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Apply now</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-housing" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                          Housing assistance
                        </button>
                        <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-housing" role="menu" aria-label="Housing assistance" hidden="">
                          <li>
                            <button class="vetnav-level2 vetnav-trigger vetnav-back" aria-controls="vetnav-housing">
                              Back to menu
                            </button>
                            <div class="vetnav-level2-heading">
                              Housing assistance
                            </div>
                            <li>
                              <a href="/housing-assistance/" onclick="reportHeaderNav('Explore Benefits-&gt;Housing Assistance');">Housing assistance overview</a>
                            </li>
                            <li>
                              <a href="/housing-assistance/home-loans/" onclick="reportHeaderNav('Explore Benefits-&gt;Housing Assistance');">Home loans</a>
                            </li>
                            <li>
                              <a href="/housing-assistance/adaptive-housing-grants/" onclick="reportHeaderNav('Explore Benefits-&gt;Housing Assistance');">Adaptive housing grants</a>
                            </li>
                          &lt;/ul&gt;
                        </li>

                        <li>
                          <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-careers" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                            Careers &amp; employment
                          </button>
                          <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-careers" role="menu" aria-label="Careers and employment" hidden="">
                            <li>
                              <button class="vetnav-level2 vetnav-trigger vetnav-back" aria-controls="vetnav-careers">Back to menu</button>
                              <div class="vetnav-level2-heading">Careers &amp; employment</div>
                            </li>
                            <li>
                              <a href="/employment/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Careers &amp; employment overview</a>
                            </li>
                            <li>
                              <a href="/employment/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Find a job / Hire a Veteran</a>
                            </li>
                            <li>
                              <a href="/employment/vocational-rehab-and-employment/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Vocational Rehabilitation &amp; <br />Employment (VR&amp;E)</a>
                            </li>
                            <li>
                              <a href="/employment/job-seekers/register-your-business/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Small business support</a>
                            </li>
                            <li>
                              <a href="/employment/job-seekers/family-members/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Resources for military &amp; Veteran<br />family members</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-lifeinsurance" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">Life insurance</button>
                          <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-lifeinsurance" role="menu" aria-label="Life insurance" hidden="">
                            <li>
                              <button class="vetnav-back vetnav-trigger" aria-controls="vetnav-lifeinsurance">Back to menu</button>
                              <div class="vetnav-level2-heading">Life insurance</div>
                            </li>
                            <li>
                              <a href="/life-insurance/" onclick="reportHeaderNav('Explore Benefits-&gt;Life Insurance');">Life insurance overview</a>
                            </li>
                            <li>
                              <a href="/life-insurance/options-and-eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Life Insurance');">Options &amp; eligibility</a>
                            </li>
                            <li>
                              <a href="/life-insurance/disabled-and-terminally-ill/" onclick="reportHeaderNav('Explore Benefits-&gt;Life Insurance');">Totally disabled or terminally ill</a>
                            </li>
                            <li>
                              <a href="/life-insurance/manage-your-policy/" onclick="reportHeaderNav('Explore Benefits-&gt;Life Insurance');">Managing your policy</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-pension" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                            Pension
                          </button>
                            <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-pension" role="menu" aria-label="Pension" hidden="">
                              <li>
                                <button class="vetnav-level2 vetnav-trigger vetnav-back" aria-controls="vetnav-pension">Back to menu</button>
                                <div class="vetnav-level2-heading">Pension</div>
                                <li>
                                  <a href="/pension/" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Pension benefits overview</a>
                                </li>
                                <li>
                                  <a href="/pension/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Eligibility</a>
                                </li>
                                <li>
                                  <a href="/pension/apply/" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Application process</a>
                                </li>
                                <li>
                                  <a href="/pension/survivors-pension/" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Survivors pension</a>
                                </li>
                                <li>
                                  <a href="/pension/application/527EZ/" class="usa-button va-button-primary" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Apply now</a>
                                </li>
                            &lt;/ul&gt;
                            </li>

                            <li>
                              <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-burials" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                                Burials &amp; memorials
                              </button>
                              <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-burials" role="menu" aria-label="Burials and memorials" hidden="">
                                <li>
                                    <button class="vetnav-back vetnav-trigger" aria-controls="vetnav-burials">Back to menu</button>
                                    <div class="vetnav-level2-heading">Burials &amp; memorials</div>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Burials &amp; memorials overview</a>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Eligibility</a>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/burial-planning/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Plan a burial</a>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/survivor-and-dependent-benefits/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Allowances &amp; survivor compensation</a>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/find-a-cemetery/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Find a cemetery</a>
                                </li>
                              </ul>
                            </li>
                    </ul>
                  &lt;/div&gt;
                    </li>

                    <li>
                        <button class="vetnav-level1 vetnav-trigger" role="button" aria-controls="vetnav-benefits" aria-haspopup="true" onclick="window.dataLayer.push({ event: 'nav-header-top-level' });">Manage your health &amp; benefits</button>
                        <div class="vetnav-panel" id="vetnav-benefits" hidden="">
                            <ul role="menu" aria-label="Manage your health and benefits">
                                <li><a class="login-required" href="/health-care/prescriptions" onclick="reportHeaderNav('Manage Health and Benefits');">Refill prescriptions</a></li>
                                <li><a class="login-required" href="/health-care/messaging" onclick="reportHeaderNav('Manage Health and Benefits');">Message your health care team</a></li>
                                <li><a href="/health-care/schedule-an-appointment/" onclick="reportHeaderNav('Manage Health and Benefits');">Schedule a VA appointment</a></li>
                                <li><a class="login-required" href="/health-care/health-records" onclick="reportHeaderNav('Manage Health and Benefits');">Get your VA health records</a></li>
                                <li><a class="login-required" href="/track-claims" onclick="reportHeaderNav('Manage Health and Benefits');">Check claim and appeal status</a></li>
                                <li><a class="login-required" href="/education/gi-bill/post-9-11/ch-33-benefit" onclick="reportHeaderNav('Manage Health and Benefits');">Check Post-9/11 GI Bill benefits</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="/facilities/" class="vetnav-level1" onclick="reportHeaderNav('Find VA locations');">Find VA locations</a></li>
            </ul>
        &lt;/nav&gt;
    &lt;/div&gt;
&lt;/div&gt;

<script>
    window.dataLayer = [];

    function reportHeaderNav(navpath) {
        window.dataLayer.push({
            event: 'nav-header-link',
            'nav-path': navpath
        });
    }
</script>


&lt;/div&gt;

```html
<div class="login-container">
    <div class="row va-flex">
        <nav id="vetnav" role="navigation">
            <!-- used to have `hidden`-->
            <ul id="vetnav-menu" role="menubar">
                <li>
                  <a href="/" class="vetnav-level1" role="menuitem">Home</a>
                </li>
                <li role="none">
                  <button aria-controls="vetnav-explore" role="button" aria-haspopup="true" class="vetnav-level1 vetnav-trigger" onclick="window.dataLayer.push({ event: 'nav-header-top-level' });">
                    Explore benefits
                  </button>
                  <div id="vetnav-explore" class="vetnav-panel" role="none" hidden="">
                    <ul role="menu" aria-label="Explore benefits">
                      <li>
                        <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-disability" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">Disability</button>
                        <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-disability" role="menu" aria-label="Disability" hidden="">
                          <li>
                            <button class="vetnav-back vetnav-trigger" aria-controls="vetnav-disability">
                              Back to menu
                            </button>
                            <div class="vetnav-level2-heading">Disability</div>
                          </li>
                          <li>
                            <a href="/disability-benefits/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Disability benefits overview</a>
                          </li>
                          <li>
                            <a href="/disability-benefits/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Eligibility</a>
                          </li>
                          <li>
                            <a href="/disability-benefits/apply/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Application process</a>
                          </li>
                          <li>
                            <a href="/disability-benefits/conditions/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Conditions</a>
                          </li>
                          <li>
                            <a class="login-required" href="/track-claims/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Check claim and appeal status</a>
                          </li>
                          <li>
                            <a href="/disability-benefits/claims-appeal/" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Appeals process</a>
                          </li>
                          <li>
                            <a class="usa-button va-button-primary va-external--light" href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=disability-compensation" onclick="reportHeaderNav('Explore Benefits-&gt;Disabilty');">Go to eBenefits to apply assets/img/icons/exit-icon-white.svg</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-healthcare" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                          Health care
                        </button>
                        <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-healthcare" role="menu" aria-label="Health care" hidden="">
                          <li>
                              <button class="vetnav-back" aria-controls="vetnav-healthcare">Back to menu</button>
                              <div class="vetnav-level2-heading">Health care</div>
                          </li>
                          <li>
                            <a href="/health-care/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Health care benefits overview</a>
                          </li>
                          <li>
                            <a href="/health-care/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Eligibility</a>
                          </li>
                          <li>
                            <a href="/health-care/apply/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Application process</a>
                          </li>
                          <li>
                            <a href="/health-care/health-conditions/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Health needs and conditions</a>
                          </li>
                          <li>
                            <a class="login-required" href="/health-care/prescriptions/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Refill prescriptions</a>
                          </li>
                          <li>
                            <a class="login-required" href="/health-care/messaging/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Message your health care team</a>
                          </li>
                          <li>
                            <a href="/health-care/health-records/" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Get your VA health records</a>
                          </li>
                          <li>
                            <a href="/health-care/apply/application/" class="usa-button va-button-primary" onclick="reportHeaderNav('Explore Benefits-&gt;Health Care');">Apply now</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-edu" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">Education &amp; training</button>
                        <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-edu" role="menu" aria-label="Education and training" hidden="">
                          <li>
                              <button class="vetnav-back vetnav-trigger" aria-controls="vetnav-edu">Back to menu</button>
                              <div class="vetnav-level2-heading">Education &amp; training</div>
                          </li>
                          <li>
                            <a href="/education/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Education benefits overview</a>
                          </li>
                          <li>
                            <a href="/education/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Eligibility</a>
                          </li>
                          <li>
                            <a href="/education/apply/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Application process</a>
                          </li>
                          <li>
                            <a href="/education/gi-bill/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">GI Bill programs</a>
                          </li>
                          <li>
                            <a href="/gi-bill-comparison-tool/" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Compare GI Bill benefits</a>
                          </li>
                          <li>
                            <a href="/education/apply/" class="usa-button va-button-primary" onclick="reportHeaderNav('Explore Benefits-&gt;Education Training');">Apply now</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-housing" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                          Housing assistance
                        </button>
                        <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-housing" role="menu" aria-label="Housing assistance" hidden="">
                          <li>
                            <button class="vetnav-level2 vetnav-trigger vetnav-back" aria-controls="vetnav-housing">
                              Back to menu
                            </button>
                            <div class="vetnav-level2-heading">
                              Housing assistance
                            </div>
                            <li>
                              <a href="/housing-assistance/" onclick="reportHeaderNav('Explore Benefits-&gt;Housing Assistance');">Housing assistance overview</a>
                            </li>
                            <li>
                              <a href="/housing-assistance/home-loans/" onclick="reportHeaderNav('Explore Benefits-&gt;Housing Assistance');">Home loans</a>
                            </li>
                            <li>
                              <a href="/housing-assistance/adaptive-housing-grants/" onclick="reportHeaderNav('Explore Benefits-&gt;Housing Assistance');">Adaptive housing grants</a>
                            </li>
                          &lt;/ul&gt;
                        </li>

                        <li>
                          <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-careers" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                            Careers &amp; employment
                          </button>
                          <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-careers" role="menu" aria-label="Careers and employment" hidden="">
                            <li>
                              <button class="vetnav-level2 vetnav-trigger vetnav-back" aria-controls="vetnav-careers">Back to menu</button>
                              <div class="vetnav-level2-heading">Careers &amp; employment</div>
                            </li>
                            <li>
                              <a href="/employment/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Careers &amp; employment overview</a>
                            </li>
                            <li>
                              <a href="/employment/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Find a job / Hire a Veteran</a>
                            </li>
                            <li>
                              <a href="/employment/vocational-rehab-and-employment/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Vocational Rehabilitation &amp; <br />Employment (VR&amp;E)</a>
                            </li>
                            <li>
                              <a href="/employment/job-seekers/register-your-business/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Small business support</a>
                            </li>
                            <li>
                              <a href="/employment/job-seekers/family-members/" onclick="reportHeaderNav('Explore Benefits-&gt;Careers Employment');">Resources for military &amp; Veteran<br />family members</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-lifeinsurance" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">Life insurance</button>
                          <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-lifeinsurance" role="menu" aria-label="Life insurance" hidden="">
                            <li>
                              <button class="vetnav-back vetnav-trigger" aria-controls="vetnav-lifeinsurance">Back to menu</button>
                              <div class="vetnav-level2-heading">Life insurance</div>
                            </li>
                            <li>
                              <a href="/life-insurance/" onclick="reportHeaderNav('Explore Benefits-&gt;Life Insurance');">Life insurance overview</a>
                            </li>
                            <li>
                              <a href="/life-insurance/options-and-eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Life Insurance');">Options &amp; eligibility</a>
                            </li>
                            <li>
                              <a href="/life-insurance/disabled-and-terminally-ill/" onclick="reportHeaderNav('Explore Benefits-&gt;Life Insurance');">Totally disabled or terminally ill</a>
                            </li>
                            <li>
                              <a href="/life-insurance/manage-your-policy/" onclick="reportHeaderNav('Explore Benefits-&gt;Life Insurance');">Managing your policy</a>
                            </li>
                          </ul>
                        </li>

                        <li>
                          <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-pension" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                            Pension
                          </button>
                            <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-pension" role="menu" aria-label="Pension" hidden="">
                              <li>
                                <button class="vetnav-level2 vetnav-trigger vetnav-back" aria-controls="vetnav-pension">Back to menu</button>
                                <div class="vetnav-level2-heading">Pension</div>
                                <li>
                                  <a href="/pension/" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Pension benefits overview</a>
                                </li>
                                <li>
                                  <a href="/pension/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Eligibility</a>
                                </li>
                                <li>
                                  <a href="/pension/apply/" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Application process</a>
                                </li>
                                <li>
                                  <a href="/pension/survivors-pension/" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Survivors pension</a>
                                </li>
                                <li>
                                  <a href="/pension/application/527EZ/" class="usa-button va-button-primary" onclick="reportHeaderNav('Explore Benefits-&gt;Pension');">Apply now</a>
                                </li>
                            &lt;/ul&gt;
                            </li>

                            <li>
                              <button class="vetnav-level2 vetnav-trigger" role="button" aria-haspopup="true" aria-controls="vetnav-burials" onclick="window.dataLayer.push({ event: 'nav-header-second-level' });">
                                Burials &amp; memorials
                              </button>
                              <ul class="vetnav-panel vetnav-panel--submenu" id="vetnav-burials" role="menu" aria-label="Burials and memorials" hidden="">
                                <li>
                                    <button class="vetnav-back vetnav-trigger" aria-controls="vetnav-burials">Back to menu</button>
                                    <div class="vetnav-level2-heading">Burials &amp; memorials</div>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Burials &amp; memorials overview</a>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/eligibility/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Eligibility</a>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/burial-planning/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Plan a burial</a>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/survivor-and-dependent-benefits/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Allowances &amp; survivor compensation</a>
                                </li>
                                <li>
                                  <a href="/burials-and-memorials/find-a-cemetery/" onclick="reportHeaderNav('Explore Benefits-&gt;Burials Memorials');">Find a cemetery</a>
                                </li>
                              </ul>
                            </li>
                    </ul>
                  &lt;/div&gt;
                    </li>

                    <li>
                        <button class="vetnav-level1 vetnav-trigger" role="button" aria-controls="vetnav-benefits" aria-haspopup="true" onclick="window.dataLayer.push({ event: 'nav-header-top-level' });">Manage your health &amp; benefits</button>
                        <div class="vetnav-panel" id="vetnav-benefits" hidden="">
                            <ul role="menu" aria-label="Manage your health and benefits">
                                <li><a class="login-required" href="/health-care/prescriptions" onclick="reportHeaderNav('Manage Health and Benefits');">Refill prescriptions</a></li>
                                <li><a class="login-required" href="/health-care/messaging" onclick="reportHeaderNav('Manage Health and Benefits');">Message your health care team</a></li>
                                <li><a href="/health-care/schedule-an-appointment/" onclick="reportHeaderNav('Manage Health and Benefits');">Schedule a VA appointment</a></li>
                                <li><a class="login-required" href="/health-care/health-records" onclick="reportHeaderNav('Manage Health and Benefits');">Get your VA health records</a></li>
                                <li><a class="login-required" href="/track-claims" onclick="reportHeaderNav('Manage Health and Benefits');">Check claim and appeal status</a></li>
                                <li><a class="login-required" href="/education/gi-bill/post-9-11/ch-33-benefit" onclick="reportHeaderNav('Manage Health and Benefits');">Check Post-9/11 GI Bill benefits</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="/facilities/" class="vetnav-level1" onclick="reportHeaderNav('Find VA locations');">Find VA locations</a></li>
            </ul>
        &lt;/nav&gt;
    &lt;/div&gt;
&lt;/div&gt;

<script>
    window.dataLayer = [];

    function reportHeaderNav(navpath) {
        window.dataLayer.push({
            event: 'nav-header-link',
            'nav-path': navpath
        });
    }
</script>


```
</li></ul></div></li></ul></nav></div></div></li></ul></div></li></ul></nav></div></div></div>

        </main>
      </div>
    </div>

    <footer class="site-c-footer">

  <div class="site-l-wrapper">

    

  </div>

</footer>

    <script type="text/javascript" src="/vets-design-system-documentation/vendor/javascripts/bundle.js" charset="utf-8"></script>
  </body>

</html>
